.database{
    margin: 200px 200px 0 0;
    position: "static",
}

.imgWrap{
    opacity: 0;
}

.Wrap{
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row-reverse;
    height: 800px;
}

.text{
    opacity: 0;
    margin: 200px 200px 0 0;
    font-size: 40px;
    color: white;
}

@media (max-width: 500px) {
    .database{
        margin: 0;
        position: "static",
    }
    
    .imgWrap{
        opacity: 0;
        width: fit-content;
    }
    
    .Wrap{
        background: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    
    .text{
        width: fit-content;
        margin: 0;
        font-size: 26px;
        color: white;
    }    
}
