*{
    margin: 0;
    padding: 0;
}

canvas{
    display:block;
    position: absolute;
}

body{
    overflow: hidden;
    background: black;
    font-family: OCR A Std, monospace;
    font-size: 18px;
    color: white;
}

.load{
    color: black;
    font-size: 20px;
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.wait_message{
    position: absolute;
    bottom: 50px;
}